CompileFlags:
  CompilationDatabase: "Debug"
  Add:
    [
      -xc,
      -Wcovered-switch-default,
      -Wunsafe-buffer-usage,
      -Wno-declaration-after-statement,
      -Wno-missing-noreturn,
      -Wno-padded,
    ]
  Remove: [-fcyclomatic-complexity]

# Other common configuration options (optional)
Diagnostics:
  ClangTidy:
    Add:
      [
        cert-*,
        google-*,
        readability-*,
        readability-avoid-const-params-in-decls,
        readability-magic-numbers,
      ]
    Remove: [modernize-use-trailing-return-type]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
