CompileFlags:
  CompilationDatabase: "Debug"
  Add: [
    -xc
  ]
  Remove: [
    -fcyclomatic-complexity
  ]

# Other common configuration options (optional)
Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove: ["modernize-use-trailing-return-type"]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes